<!DOCTYPE html>
<html lang="en" ng-app='dataApp'>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Leave Tracker</title>

<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- Custom CSS -->
<!-- <link href="../dist/css/sb-admin-2.css" rel="stylesheet"> -->

<!-- Custom Fonts -->
<link href="../vendor/font-awesome/css/font-awesome.min.css"	rel="stylesheet" type="text/css">
<!-- Morris Charts CSS -->
<link href="../vendor/morrisjs/morris.css" rel="stylesheet">

</head>

<body >

	<div id="wrapper" ng-controller="AlldataController" >

		

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Data</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			

		
						
							<div class="container">
											<div class="row">
													<div class="col-md-3  panel-heading">Name</div>
													<div class="col-md-3 ">Team</div>
													<div class="col-md-3 ">Emp_SNo</div>
													<div class="col-md-3 ">Action</div>
												</div>
											
												<div class="row " ng-repeat="data in dataList" >
													<div class="panel" style='border: 1px solid grey;background-color:#f1f1f1'>
													
													<div class="col-md-3 panel-heading" ><i class="fa fa-check"></i> <a type="button" data-toggle="modal"
														data-target="#myModal"
														ng-click="getEmployeeData(data.Name)">{{data.Name}}</a></div>
														<div>
													<div class="col-md-3 ">{{ data.Team }}</div>
													<div class="col-md-3 ">{{ data.Emp_ID }}</div>
													
													 <div class="col-md-3 panel-footer">
                            <a class="btn btn-xs-3 btn-warning btn-circle" href="#">Approve!</a>
                            <a class="btn btn-xs-3 btn-circle btn-danger" href="#">Reject</a>
                        </div>
                        </div>
                       
												</div>
												</div>
											
										
							

								</div>

			</div>
			<!-- /.row -->
			<div class="modal fade" id="myModal2" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<!-- 										<h4 class="modal-title">Employee UTE Details</h4> -->
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-green">
										<div class="panel-heading">
											<i class="fa fa-bar-chart-o fa-fw"></i>UTE of
											{{WeeklyDataUTE[0].week}}
										</div>
										<div class="panel-body">
											<div class="table-responsive table-bordered">
												<table class="table table-hover">
													<tbody>
														<tr>
															<td>Total Available Hrs</td>
															<td>{{WeeklyDataUTE[0].week_hours}}</td>
														</tr>
														<tr>
															<td>Total Actual Hours</td>
															<td>{{WeeklyDataUTE[0].Actual_Hours}}</td>
														</tr>
														<tr>
															<td>Total OT Hrs</td>
															<td>{{WeeklyDataUTE[0].OT_Hrs}}</td>
														</tr>
														<tr>
															<td>Total Leave Hours</td>
															<td>{{WeeklyDataUTE[0].Leave_Hours}}</td>
														</tr>
														<tr>
															<td>Utilization</td>
															<td>{{WeeklyDataUTE[0].utalisation | number:2}}%</td>
														</tr>
														<tr>
															<td>Ute</td>
															<td>{{WeeklyDataUTE[0].ute}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>

					</div>

				</div>

			</div>

			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<!-- 										<h4 class="modal-title">Employee UTE Details</h4> -->
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-green">
										<div class="panel-heading">
											<i class="fa fa-bar-chart-o fa-fw"></i>UTE of
											{{empDetails[0].Name}}
										</div>
										<div class="panel-body">
											<div class="table-responsive table-bordered">
												<table class="table table-hover">
													<tbody>
														<tr>
															<td>Emp ID</td>
															<td>{{dataIndividual[0].Emp_ID}}</td>
														</tr>
														<tr>
															<td>Name</td>
															<td>{{dataIndividual[0].Name}}</td>
														</tr>
														<tr>
															<td>Team</td>
															<td>{{dataIndividual[0].Team}}</td>
														</tr>
														<tr>
															<td>Site</td>
															<td>{{dataIndividual[0].Site}}</td>
														</tr>
														<tr>
															<td>Project</td>
															<td>{{dataIndividual[0].Project}}</td>
														</tr>
														<tr>
															<td>Status</td>
															<td>{{dataIndividual[0].Status}}</td>
														</tr>
														<tr>
															<td>Total Available Hrs</td>
															<td>{{dataIndividual[0].Available_Hrs}}</td>
														</tr>
														<tr>
															<td>Total Productive Hrs</td>
															<td>{{dataIndividual[0].Productive_Hrs}}</td>
														</tr>
														<tr>
															<td>Total Chargeable Hrs</td>
															<td>{{dataIndividual[0]. Chargeable_Hrs}}</td>
														</tr>
														<tr>
															<td>Total OT Hrs</td>
															<td>{{dataIndividual[0].OT_Hours}}</td>
														</tr>
														<tr>
															<td>Total Leave Hours</td>
															<td>{{dataIndividual[0].Leave_Hrs}}</td>
														</tr>
														<tr>
															<td>Productive UTE</td>
															<td>{{dataIndividual[0].Productive_Ute | number:2}}%</td>
														</tr>
														<tr>
															<td>Chargeable UTE</td>
															<td>{{dataIndividual[0].Chargeable_Ute | number:2}}%</td>
														</tr>
														<tr>
															<td>OT %</td>
															<td>{{dataIndividual[0].OT_Per | number:2}}%</td>
														</tr>
														<tr>
															<td>Leave %</td>
															<td>{{dataIndividual[0].Leave_Per | number:2}}%</td>
														</tr>
														<tr>
															<td>DH %</td>
															<td>{{dataIndividual[0].DH_Per | number:2}}%</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- /#page-wrapper -->
		<div id="overlay" >
			<div id="text">Please wait</div>
		</div>
	</div>
	<!-- /#wrapper -->
	<!-- AngularJS -->

	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>

	<!-- jQuery -->
	<script src="../vendor/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="../vendor/metisMenu/metisMenu.min.js"></script>

	<!-- DataTables JavaScript -->
	<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
	<script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
	<!-- Morris Charts JavaScript -->
	<script src="../vendor/raphael/raphael.min.js"></script>
	<script src="../vendor/morrisjs/morris.min.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="../dist/js/sb-admin-2.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript"	src="../controllers/Alldata.client.controller.js"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	
 <style>
 


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    
    
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

</style>
</body>

</html>
